@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer{
   background-color: #1f80e0;
    margin : 0;
    /* margin-top: 20px; */
    padding : 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}  
.contant{
    max-width : 100% ; 
      margin : auto ; 
} 
 ul{
    list-style : none ;   
 }  
  .row{
      display : flex ; 
      flex-wrap: Nowrap;
      /* margin-top:  20px; */
  }  

  .footer-col{
      width : 25% ; 
      padding : 0 15px ; 
      margin-top: 30px;
  } 
  .footer-col h4{
       font-size: 18px;
       color : #ffffff;
       text-transform: capitalize;
       margin-bottom: 35px; 
       font-weight: 500; 
       position: relative;
  }


  .footer-col h4::before{
      content : ' ';
      position : absolute; 
      left : 0;
      bottom : -10px ; 
      background-color: #e91e63; 
      height : 2px ; 
      box-sizing: border-box;
      width : 50px;
      
  }
   .footer-col ul li:not(:last-child){
        margin-bottom : 10px ; 
   } 
   .footer-col ul li a{
        font-size: 16px; 
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300px;
        color : #bbbbbb;
        display: block;
        transition: all 0.3s ease;
   }
       .footer-col ul li a:hover{
           color: #ffffff;
           padding-left: 10px;
       } 

       .footer-col .social-link a{
             display: inline-block;
             height: 40px;
             width : 40px; 
             background-color: rgb(225,225,225,0.2);
             margin-right: 10px;
             margin: 0 10px 10px 0;
             text-align: center;
             line-height: 40px;
             border-radius: 50%;
             color : #ffffff ;  
             transition: all 0.5s ease;
       }  
        
       .footer-col .social-link a:hover{
           color : #24262b;
           background-color: #ffffff;
           
       }